body{
background-repeat: no-repeat;
background-size: cover;
background-attachment: local;
color: white;
text-align: left;
}
h1,h2,h3{
color: yellow;
}
      
  img { 
    position: absolute;
  }
